body {
  background-image: url("./assets/images/waves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -200px;
  overflow-x: hidden;
}

:focus {
  outline: none;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1025px) {
  .container {
    width: 620px;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 664px) {
  .container {
    width: 420px;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}
